.header {
  width: 100%;
  background: #0F2747;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.container {
  max-width: 1250px;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #222;
  font-size: 22px;
  font-weight: 700;
  color: #D4AF37;
}

.nav {
  display: flex;
  align-items: center;
  gap: 35px;
  
}

.nav a,
.dropbtn {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  top: 45px;
  left: -120px;

  width: 620px;

  background: #0F2747;
  border-radius: 12px;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: .3s;
  box-shadow: 0 12px 30px rgba(0,0,0,.12);
}

.dropdown:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.appCard {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  transition: .3s;
}

.appCard:hover {
  background: #f5f9ff;
  color:#0F2747;
}

.icon {
  width: 55px;
  height: 40px;
  background: #7a7777;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 26px;
}

.appCard h4 {
  margin-bottom: 8px;
  font-size: 18px;
}

.appCard p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
}
.nav a:hover,
.dropbtn:hover {
  color: #D4AF37;
}
.appCard:hover p {
  color: #0F2747;
}

.loginBtn {
  background: #054190;
  color: white;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 16px;
  transition: .3s;
}

.loginBtn:hover {
  background: #D4AF37;
  color: #0F2747;
  border-color: #edebe6;
}